html {
  font-size: 15px;
}

h1 {
  background-color: $very-dark-blue;
  color: #FFF;
  font-family: 'Overpass', sans-serif;
}

.container {
  margin: 0 auto;
  width: 90%;
  max-width: 1200px;
}

.row {
  display: flex;
  flex-direction: column;

  @media(min-width: 900px) {
    flex-direction: row;
  }
}