main {
  .card {
    position: relative;
    top: 10em;
    border-radius: 20px;
    padding: 1.5em;
    background-color: $medium-blue;

    .section-header {
      margin: 1em 0;
      font-size: 1.5rem;
      color: #fff;
    }

    .section-text {
      color: $medium-grey;
      margin-bottom: 2em;
    }

    .buttons-list {
      display: flex;
      justify-content: space-between;
      padding: 0;

      .list-item > .rating-text {
        display: block;
        color: $medium-grey;
        background-color: $dark-blue;
        border-radius: 50%;
        padding: 0.75em 1.25em;
        cursor: pointer;
        transition: 0.25s;

        &:hover {
          color: #fff;
          background-color: $light-grey;
        }

        &.checked {
          color: #fff;
          background-color: $orange;
        }
      }

      .rating-component {
        display: none;
      }
    }
  }

  .submit-btn {
    font-size: 1rem;
    width: 100%;
    margin-top: 1em;
    border: none;
    border-radius: 30px;
    padding: 0.75em;
    color: #fff;
    background-color: $orange;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.25s;

    &:hover {
      color: $orange;
      background-color: #fff;
    }
  }

  .star-icon {
    border-radius: 50%;
    background-color: $dark-blue;
    padding: 0.75em;
  }

  .shown-card {
    display: inline-block;
  }

  .hidden-card {
    display: none;
  }
}
